
<div class="container-fluid vh-100">
  <div class="col-12 col-lg-12 row h-100">
    <!-- Left Side (Image Section) -->
    <div class="col-12 col-lg-6 bgimg">
      
    </div>
    
    <!-- Right Side (Form Section) -->
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="w-75">
        <div class="text-center mb-4">
          <h5>Login <span class="text-primary">Authentication</span></h5>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email">
            <div class="mt-2 text-danger" *ngIf="isSubmit && loginForm.controls['email']?.invalid">
              <span class="error-msg " *ngIf="loginForm.controls['email'].errors?.['required']">
              Email field is required.
              </span>
              <span class="error-msg" *ngIf="loginForm.controls['email'].errors?.['email']">
              Please provide a valid email address.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" formControlName="password">
            <div class="mt-2 text-danger" *ngIf = "isSubmit && loginForm.controls['password']?.invalid">
              <span class = "error-msg" *ngIf = "loginForm.controls['password'].errors?.['required']">
                Password field is required.
              </span>
              <!-- <span class = "error-msg" *ngIf = "loginForm.controls['password'].errors?.['password']">
                Password must be at least 8 characters 
              </span> -->
            </div>
          </div>
          <div class="mb-4 d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="remember" formControlName="rememberMe" >
                <label class="form-check-label"  for="remember">Remember me</label>
            </div>
          </div>
          
          <button type="submit"  class="btn btn-primary w-100">LOGIN</button>
          <div class="mt-3 ">
            <a href="/forgot-password" class="text-decoration-none">Forget Password?</a>
    
          </div>
         
        </form>
        <hr>
        <div class="text-center">
          <p>Or Login With</p>
          <button type="button" class="btn btn-outline-primary me-2">
              <i class="fa-brands fa-google"></i>
          </button>
          <button type="button" type="submit" class="btn btn-outline-primary" >
              <i class="fa-brands fa-facebook-f"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
