<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-6">
      <form  [formGroup]="updateForm" (ngSubmit)="submitForm()">
        <div class="form-floating mb-3">
          <input  type="password" id="newpassword" formControlName="newpassword" placeholder="*****" class="form-control">
          <label for="floatingInput">Enter new password</label>
         <div class="text-danger" *ngIf = "isSubmit && updateForm.controls['newpassword']?.invalid">
            <span class="error-msg" *ngIf = "updateForm.controls['newpassword'].errors?.['required']">
                Password field is required
            </span>
            <span class="error-msg"  *ngIf = "updateForm.controls['newpassword'].errors?.['minlength']">
                Password length must be 8 characters
            </span>
         </div>
        </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName ="confirmpassword" id="confirmpassword" placeholder="*****" autocomplete="off">
            <label for="floatingPassword">Confirm new password</label>
            <div class="text-danger " *ngIf="isSubmit && updateForm.controls['confirmpassword']?.invalid">
              <span class="error-msg" *ngIf="updateForm.controls['confirmpassword'].errors?.['required']">
                  Confirm Password field is required.
              </span>
              <span class="error-msg" *ngIf="updateForm.controls['confirmpassword'].errors?.['minlength']">
                  Please provide minimum 8 character.
              </span>
          </div>
          </div>
        <div *ngIf ="isSubmit && bothPassword">
            <div class="error-msg" *ngIf = "bothPassword">
                Password should match
            </div>
        </div>
        <button type="submit"  class="btn btn-primary w-100">Reset Password</button>
       
      </form>
    </div>
  </div>
  