:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
  }
  
  .card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
  }
  
  .text-danger {
    color: red; /* Red color for 'active' status */
  }
  
  .text-success {
    color: green; /* Green color for 'inactive' status */
  }
  
  .dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }
  
  .dashboard-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 84px;
  }
  
  .dashboard-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 25px;
  }
  
  @media (min-width: 900px) {
    .dashboard-app {
      margin-left: 238px;
    }
  
    .dashboard-compact .dashboard-app {
      margin-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    .dashboard-content {
      padding: 15px 0px;
    }
  }
  
  @media (max-width: 900px) {
    .dashboard-nav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1070;
    }
  
    .dashboard-nav.mobile-show {
      display: block;
    }
  }
  
  @media (max-width: 900px) {
    .dashboard-nav header .menu-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  @media (min-width: 900px) {
    .dashboard-toolbar {
      left: 238px;
    }
  
    .dashboard-compact .dashboard-toolbar {
      left: 0;
    }
  }
  

  /* Apply a gray background to even rows */
.mat-row:nth-child(even) {
  background-color: #f2f2f2; /* Light gray color */
}

/* Optional: Style odd rows or default rows */
.mat-row:nth-child(odd) {
  background-color: #ffffff; /* White color for odd rows */
}
