<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary border-top">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <div class="fs-5 fw-bold logo" style="color: #f36;">My Store</div>
          <ul class="list-unstyled small">
            <li>Your trusted our store for the best products.</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3 offset-lg-1 mb-3">
          <h5>Product list</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">5G Phones</a></li>
            <li class="mb-2"><a href="#">Offers</a></li>
            <li class="mb-2"><a href="#">Motorola</a></li>
            <li class="mb-2"><a href="#">i phone</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>About</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Policy</a></li>
            <li class="mb-2"><a href="#">Environment</a></li>
            <li class="mb-2"><a href="#">Info</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Chat</a></li>
            <li class="mb-2"><a href="#">Email</a></li>
            <li class="mb-2"><a href="#">Contact no.</a></li>
            <li class="mb-2"><a href="#">Linkedin</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">FAQ</a></li>
            <li class="mb-2"><a href="#">Terms & Conditions</a></li>
            <li class="mb-2"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-2 mt-2  mb-md-0 text-muted">&copy; {{ currentYear }} Product Store. All rights reserved.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-decoration-none hover:text-primary" href="/" rel="noreferrer" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li class="ms-3"><a class="text-decoration-none hover:text-primary" href="/" rel="noreferrer" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li class="ms-3"><a class="text-decoration-none hover:text-primary" href="/" rel="noreferrer" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li class="ms-3"><a class="text-decoration-none hover:text-primary" href="/" rel="noreferrer" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </footer>
    </div>
  </footer>
  
