 <div class="container">
      <!-- <div *ngIf="!isAdmin" class="profile" >
        
        <div class="profile-icon">
          <img 
            src="../../../assets/Images/download.png" 
            alt="Profile Icon" 
            (click)="toggleProfile()" 
            class="profile-icon-img"
          />
          <h5>{{ loggedInUser.name }}</h5>
        </div>
    
        <div *ngIf="showProfile" class="profile-details">
          <p><strong>Name:</strong> {{ loggedInUser.name }}</p>
          <p><strong>Email:</strong> {{ loggedInUser.email }}</p>
          <p><strong>Role:</strong> {{ loggedInUser.role }}</p>
          <button mat-button (click)="logout()">Logout</button>
        </div>
      </div> -->

    <h3>user-dashboard</h3>  
  </div>
